<div class="container text-center">
    <h1>About Page</h1>
    <p> We are DevMatch. Our company is a leader in creating exclusive community
    for developers, investors and entepreneurs to meet. We strive to attract talent
    across the globe. Our company has around 200 members and growing. Join us and be a 
    part of revolution.</p>
</div>