/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

//Typography Styles
h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
}

h1:after {
content: “Anaglyph”;
}



h1 {
display: inline;
position: relative;
letter-spacing: -5px; /* This will push it together giving us a nice 3D vibe */
color: white; /* This will give us a blue at 50% opacity */
}

h1:after {
content: “Anaglyph”,;
position: absolute;
left: 8px; top: 6px; /* These are aligning it to be where we’d like relative to the last word */
color: white; /* This gives us a red at 50% opacity */
}



.navbar-brand{
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar, .home-callout{
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color:white;
    &:hover{
      color:white;
      opacity:0.75;
  }
}

//Home Page Styles
.home-callout {
    color:white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
// google font subsetting, see Heydon Pickering's: http://www.sitepoint.com/joy-of-subsets-web-fonts/
@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

body { 
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
  }

h3 {
  color:white;
}
  

.alert-notice{
  display:none;
}

.home-signup-links{
  margin-top:30px;
}

.navbar {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:white;
  &:hover, &:focus {
    background-color:#ff00ff;
  }
  
}